<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!--for this page -->
    <script>
      window.location.href="./workbench/index.html";
    </script>
  </head>
<body>
</body>
</html>
